<div class="row">
  <div class="col-xs-12 team_image">
    <img src="/assets/our_team.png"/>
  </div>
</div>
<div class="row center">
  <p>
    From left to right: Julian De Ocampo (CEO/Development), Christian Robles (Development), Ariel Shamas (UI/UX Design),
     Alex Gross (Graphic Design), Ritika Tamirisa (Operations and Administration), Emily Liu (Public Relations),
    Andrew Robinson (Marketing)
  </p>
</div>