$font-size-comments: 12pt;
$font-size-post-by: 10pt;

$font-family-modified: 'Open Sans', 'Montserrat', Arial, Helvetica, sans-serif;


$comments-margin-left: 3%;
$pink-hover: #ef4d88;

.comments-section {
  background-color:white;
}

.comments-section h2 {
  color: $pink;
}

.comments-section textarea, .comments-section input, .comments-section button, .comments-section p, .comments-section div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: $font-family-modified;
}

.comments-section textarea {
  margin-top: 10px;
}

.comments-section button, .comment input[type=submit] {
  padding: 4px 12px;
  border: none;
  -webkit-border-radius: $border-radius-small;
  -moz-border-radius: $border-radius-small;
  border-radius: $border-radius-small;
  background-color: $pink;
  color: white;
}

.comments-section button:hover, .comment input[type=submit]:hover {
  background-color: $pink-hover;
  color: white;
}

.comments-section blockquote {
  font-size: $font-size-comments;
  font-weight: 300;
}

.comments-section .post-by {
  font-size: $font-size-post-by;
  font-weight: 500;
}

.comments-section .votes {
  float: left;
  padding: 0px;
  margin: 7px 0px 10px $comments-margin-left;
  width: 50px;
  text-align: center;
}

.comments-section .upvote {
  color: #e21760;
}

.comments-section .nullvote {
  color: #d1d1d1;
}

.comments-section .downvote {
  color: #22adc2;
}

.comments-section .num_votes {
  text-align: center;
  position: relative;
  left: 1px;
}

.comments-section .clear {
  clear: both;
}

.comments-section .ind-comment-parent {
  float: left;
  padding: 10px;
  border-bottom: 1px solid #CCC;
  margin: 0px 0px;
}

.comments-section #comment_message {
  width: 50%;
  height: 100px;
}

.comments-section #new_comment {
  margin: 0px $comments-margin-left;
}

.comments-section .new_comment .actions {
  padding: 8px 0px 8px 0px;
}