$pink: #e21760;
$blue: #22adc2;

.post-header h3, .post-header h4{
  color: $pink;
  margin:0px 0px 0px 0px;
}

.post-votes{
  float:none;
}

.icons-row{
  margin-bottom:10px;
  padding-left:15px;
  padding-right:15px;
}

.post-listing{
  padding-top:15px;
  padding-bottom:15px;
}

.post-show-head{
  margin: 17px 0 17px 0;
 }

.post-data{
  color: $blue;
}

#contact-button{
  margin: 0 auto 10px auto;
  width: 100px;
}

#stripe-button{
  margin: 0 auto;
  width: 150px;
}

#stripe-button form button{
  margin: 0 auto;
  width: 150px;
  margin-top:10px;
}

.contact-message {
  width:100%;
  height: 200px;
}

.nav li a {
  padding: 5px 10px 5px 10px;
  margin-top:5px;
}

.active a{
  background-color:white !important;
  color: $blue !important;
}

.tab-pane {
  margin-top:15px;
}

#readOnlyTags{
  border:0px !important;
}