$pink: #e21760;
$blue: #22adc2;
$grey: #d1d1d1;

.search-group{
  height: 38px;
  font-size: 16px;
  line-height: 1.42857143;
  border: 2px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 238px;
}

.search-box{
  border-top:0;
  border-left: 0;
  border-bottom:0;
  border-right: 2px solid #cccccc;
  padding:0 0 0 8px;
  height:100%;
  background-color: $blue;
  color: $grey;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    $grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $grey;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $grey;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    $grey;
}

.search-button{
  background-color: $blue;
  color: $grey;
  padding:0;
  border:0;
  //width:33px;
  height:22px;
  //height:100%;
}

.search-button img{
  height:22px;
  padding: 1px 1px 1px 0px;
  overflow: visible;
  margin:auto;
  margin-top:3px;
}