<form class="navbar-form navbar-left" role="search">
  <div class="form-group search-group">
    <input type="text" class="letter-spaced search-box" placeholder="SEARCH">
    <button type="submit" class="search-button">
      <%= image_tag('icons/magnifying_glass.png') %>
    </button>
  </div>
</form>